<a href="https://colab.research.google.com/github/JamesCFabrianes/Google-Collab-Python-/blob/main/B64_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Pertemuan 2 Data Science")

Pertemuan 2 Data Science

In [ ]:
jumlah_pertemuan = 2
print("Hari ini memasuki pertemuan {}".format(jumlah_pertemuan))

Hari ini memasuki pertemuan 2

In [ ]:
nilai = 98 # Int / Bilangan Bulat
kelas = "Data Science" # String / tulisan, lambang, angka
suhu = 33.2 # Decimal / Float

adalahPeserta = True  # Boolean / Nilai Kebenaran

jumlah_saudara = "3" # String

In [ ]:
type(jumlah_saudara)

str

In [ ]:
nilai + 5

103

In [ ]:
# Casting Variable --> mengubah type datanya

int(jumlah_saudara) + 5

8

In [ ]:
no_hp = "081234567890"
print(no_hp)

081234567890

In [ ]:
no_hp = "0852" + "9876"
print(no_hp)

08529876

In [ ]:
# Aritmatika di Python
angka1 = 24
angka2 = 5

# Penjumlahan
print(angka1 + angka2)

#Pengurangan
print(angka1 - angka2)

# Perkalian
print(angka1 * angka2)

# Pembagian (dengan desimal)
print(angka1 / angka2)

# Pembagian (secara bulat)
print(angka1 // angka2)

# Modulo / Sisa Bagi
print(angka1 % angka2)

# Perpangkatan
print(angka1 ** angka2)

29
19
120
4.8
4
4
7962624

In [ ]:
# String
# Char / karakter --> satu inputan dari keyboard (huruf, angka, lambang)

karakter = "F"
kelas = "Data Science Class"
      #  0123

print(kelas[5])

print(kelas[5:12]) # angka awal adalah index mulai , angka terakhir adalah index berhenti 1 sebelumnya

print(kelas[5:12:3])

print(kelas[13:18])
print(kelas[-5:])

nama = "Fendi Suryadinata"
len(nama) #Mengembalikan nilai panjang sebuah string

S
Science
See
Class
Class

17

In [ ]:
# Jawaban Latihan

#Pythagoras
a = 3
b = 4

c = (a**2 + b**2) ** 0.5
print(c)

5.0

In [ ]:
# Cylinder
radius = 21
tinggi = 10
phi = 3.143

# Volume
v = phi * radius ** 2 * tinggi
print(round(v, 2))

# Luas permukaan
lp = 2 * phi * radius ** 2 + phi * 2 * radius * tinggi
print(round(lp,2))

13860.63
4092.19

# Variable Majemuk --> Array

In [ ]:
minuman = [] # deklarasi sebuah list kosong

minuman = ["Hot Chocolate", "Hot Tea", "Black Coffee", "Mineral Water", "Black Coffee"]

In [ ]:
print(minuman)

['Hot Chocolate', 'Hot Tea', 'Black Coffee', 'Mineral Water', 'Black Coffee']

In [ ]:
print(minuman[1])

Hot Tea

In [ ]:
print(minuman.index("Black Coffee"))

2

In [ ]:
# CRUD (Create, Read, Update, Delete)
minuman[2] = "Americano"
print(minuman)

['Hot Chocolate', 'Hot Tea', 'Americano', 'Mineral Water', 'Black Coffee']

In [ ]:
minuman.remove("Mineral Water")
print(minuman)

['Hot Chocolate', 'Hot Tea', 'Americano', 'Black Coffee']

In [ ]:
# Tambahkan data di posisi paling belakang
minuman.append("Lemon Tea")
print(minuman)

['Hot Chocolate', 'Hot Tea', 'Americano', 'Black Coffee', 'Lemon Tea']

In [ ]:
# Hapus data di posisi paling belakang
minuman.pop()
print(minuman)

['Hot Chocolate', 'Hot Tea', 'Americano', 'Black Coffee']

In [ ]:
# Multidimension List --> kiri - kanan : Kolom, atas - bawah : baris
        # 0, 1, 2
matrix = [[1,2,3], # 0
          [4,5,6], # 1
          [7,8,9]] # 2

print(matrix[2][0])  # Nilai 7
print(matrix[0][2])  # Nilai 3

7
3

In [ ]:
### Misalkan kita punya variable detik : 610
### Buatlah sebuah program sederhana yang menkonversi detik menjadi format menit:detik

### 10:10

detik = 1800
menit = detik // 60
sisa = detik % 60
print("{}:{}".format(menit, sisa))

30:0

In [ ]:
### Misalkan kita punya no_hp : 08123456789
# Buatlah sebuah program sederhana yang akan anonymize nilai di tengahnya mulai dari urutan ke 5 - 8

# 0812****789

no_hp = "08123456789"

awal = no_hp[:4]
akhir = no_hp[7:]

print("{}****{}".format(awal, akhir))

0812****6789

# Dictionary

In [ ]:
# Terdiri dari Key and Value

employee = {}

employee = {
    "Nama": ["Donny", "Duta", "Aryo"],
    "Pekerjaan": ["Data Science Manager", "Senior Data Engineer", "Data Analyst"],
}

In [ ]:
employee["Usia"] = [28, 26, 24]
print(employee)

{'Nama': ['Donny', 'Duta', 'Aryo'], 'Pekerjaan': ['Data Science Manager', 'Senior Data Engineer', 'Data Analyst'], 'Usia': [28, 26, 24]}

In [ ]:
employee.keys()

dict_keys(['Nama', 'Pekerjaan', 'Usia'])

In [ ]:
employee.values()

dict_values([['Donny', 'Duta', 'Aryo'], ['Data Science Manager', 'Senior Data Engineer', 'Data Analyst'], [28, 26, 24]])

In [ ]:
employee["Usia"][0]

28

In [ ]:
employee["Gaji"] = ["20", "15", "9"]
print(employee)

{'Nama': ['Donny', 'Duta', 'Aryo'], 'Pekerjaan': ['Data Science Manager', 'Senior Data Engineer', 'Data Analyst'], 'Usia': [28, 26, 24], 'Gaji': ['20', '15', '9']}

In [ ]:
# Conditional

# Kasus Pembayaran di E-Commerce
# Jika saldo kurang dari harga maka beritahu pelanggan bahwa saldo kurang harap di top up dulu
# Jika saldo lebih dari sama dengan harga maka teruskan transaksi ke penjual

saldo = 1200000
harga_barang = 12000000

if saldo < harga_barang: # Boolean --> jika statement True maka scope code akan dijalankan
  # Indentation --> scope codingan
  print("Saldo kurang, harap top up atau ganti metode pembayaran")
  print("Menunggu konfirmasi pelanggan")
else : # Jika statement diatas False maka scope code dibawah akan dijalankan
  print("Terima kasih, Proses dilanjutkan ke penjual")
  print("Ditunggu pesanan selanjutnya")

Saldo kurang, harap top up atau ganti metode pembayaran
Menunggu konfirmasi pelanggan

In [ ]:
saldo < harga_barang

True

In [ ]:
# Logika Matematika

# And --> Hanya akan True jika semuanya True
print((saldo < harga_barang) and (3 < 9) and (2 < 9))

# OR --> Hanya akan False jika semuanya False
print((saldo < harga_barang) or (3 >9) or (2 < 9))

True
True

In [ ]:
isMarried = False
print(((saldo < harga_barang) or (3 >9) or (2 < 9)) and (isMarried))

False

In [ ]:
# Balita = 0 - 5
# anak = 6 - 15
# Remaja = 16 - 21
# Dewasa = 22 - 59
# Lansia = 60++

usia = int(input("Masukkan usia anda : "))

if usia >=0 and usia <=5 :
  print("Balita")
elif usia >=6 and usia <=15 :
  print("Anak-anak")
elif usia >=16 and usia <=21:
  print("Remaja")
elif usia>=22 and usia <=59:
  print("Dewasa")
else:
  print("Lansia")

Masukkan usia anda : 24
Dewasa

In [ ]:
# Nested IF --> IF dalam IF

usia = round(float(input("Masukkan usia anda : ")))

if usia >= 0 and usia <= 100:
  if usia >=0 and usia <=5 :
    print("Balita")
  elif usia >=6 and usia <=15 :
    print("Anak-anak")
  elif usia >=16 and usia <=21:
    print("Remaja")
  elif usia>=22 and usia <=59:
    print("Dewasa")
  else:
    print("Lansia")
else:
  print("Terjadi kesalahan data")

Masukkan usia anda : 24
Dewasa

In [ ]:
# Exception Handling --> Jika ada error maka code akan dialihkan

try:
  usia = round(float(input("Masukkan usia anda : ")))
  print(usia)
except:
  print("Terjadi Error coba cek inputan anda")
finally:
  print("Terima kasih sudah menggunakan aplikasi kamu")

Masukkan usia anda : 24
24
Terima kasih sudah menggunakan aplikasi kamu

In [ ]:
# Looping / Pengulangan
for i in range(10):
  print("{}. Saya belajar Data Science".format(i+1))

1. Saya belajar Data Science
2. Saya belajar Data Science
3. Saya belajar Data Science
4. Saya belajar Data Science
5. Saya belajar Data Science
6. Saya belajar Data Science
7. Saya belajar Data Science
8. Saya belajar Data Science
9. Saya belajar Data Science
10. Saya belajar Data Science

In [ ]:
for i in range(1, 16):
  if i % 2 == 0:
    print("{} adalah Genap".format(i))
  else:
    print("{} adalah Ganjil".format(i))

1 adalah Ganjil
2 adalah Genap
3 adalah Ganjil
4 adalah Genap
5 adalah Ganjil
6 adalah Genap
7 adalah Ganjil
8 adalah Genap
9 adalah Ganjil
10 adalah Genap
11 adalah Ganjil
12 adalah Genap
13 adalah Ganjil
14 adalah Genap
15 adalah Ganjil

In [ ]:
for i in minuman:
  print(i)

Hot Chocolate
Hot Tea
Americano
Black Coffee

In [ ]:
n = 10
for i in range(1, n+1):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
# Nested For
for l in matrix:
  # print(l)
  for element in l:
    print(element)
  print()

1
2
3

4
5
6

7
8
9

# Function
Code yang bisa dipanggil berulang kali

Fungsi Bawaan dari Bahasa Pemrograman

UDF --> USer Defined Function

In [ ]:
def pythagoras(a, b):
  return (a**2 + b**2) ** 0.5

In [ ]:
pythagoras(3,4)

5.0

In [ ]:
pythagoras(15, 20)

25.0

In [ ]:
def konversi_waktu(detik=60):
  menit = detik // 60
  sisa = detik % 60

  return "{}:{}".format(menit, sisa)

In [ ]:
konversi_waktu(610)

'10:10'

In [ ]:
konversi_waktu(1800)

'30:0'

In [ ]:
konversi_waktu()

'1:0'

# Latihan

In [ ]:
# Buatlah sebuah function untuk tips jika price < $100 maka tip adalah 17% jika melebihi maka
# tip adalah 20% --> misalkan jika price $100 maka akan menjadi $120

def tipping(price):
  if price < 100:
    total = price + price *0.17
  else :
    total = price + price * 0.2
  return total

tipping(80)

# Buatlah sebuah function untuk volume dan luas permukaan cylinder tetapi dengan ketentuan
# jika radius habis dibagi 7 maka phi = 22/7 jika tidak 3.14

def cylinder(r, t):
  if r % 7 == 0:
    phi = 22/7
  else:
    phi = 3.14

  volume = phi * r ** 2* t
  luas_permukaan = 2*phi*r**2 + 2*phi*r*t
  return [volume, luas_permukaan]

cylinder(14, 20)

# Buatlah sebuah function untuk menhitung fahrenheit ke kelvin (suhu)
def temperature(fahr):
  c = (fahr - 32) * 5 / 9
  k = c + 273.15
  return k

temperature(100)

310.92777777777775